body{

    background-image:url(code/imagenes/a2c77dccf73afa78b8521547db923f9e.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}