* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

.container {
max-width: 120px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 250px;
grid-gap: 20px;
padding: 100px 0;

}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1){
 grid-column-start: span 2;

}
.box:nth-child(4){
 grid-column-start: span 2;

}